.row {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 1rem 20px;
	transition: all .2s ease-in;
	border-bottom: 2px solid #eee;
	&:hover {
		background-color: #eee;
	}
	> h2 {
		font-size: 20px;
		font-weight: 600;
	}
	> h2:nth-child(1) {
		flex: 1;
	}
	> h2:nth-child(2) {
		width: 100px;
		font-weight: 500;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
	> h2:nth-child(3) {
		width: 150px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}
}



@media ( max-width: 550px ) {
	.row {
		padding-left: 0;
		padding-right: 0;
		h2 {
			font-size: 0.9rem;
		}
		h2:nth-child(2) {
			width: 50px;
			// background-color: red;
		}
		h2:nth-child(3) {
			width: 40px;
			// background-color: green;
		}
	}
}