@import "./styles/variables";

*{ margin: 0; padding: 0; box-sizing: border-box; }

body, html {
	width: 100%;
	height: 100%;
	font-family: Dosis, sans-serif;
	font-display: optional;
}

body{
	overflow: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}


a { text-decoration: none; }

p, a { color: $fColor; font-size: $fsSmall; font-weight: 300;}

.activeMenu {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	max-height: 400px !important;
}



// animations
